In [1]:
catalog.list()

['gitter',
 'drugbank',
 'pubchem',
 'processed_gitter',
 'companies',
 'reviews',
 'shuttles',
 'preprocessed_companies',
 'preprocessed_shuttles',
 'model_input_table',
 'regressor',
 'parameters',
 'params:gitter',
 'params:gitter.irrelevant_columns',
 'params:gitter.columns_to_drop',
 'params:gitter.columns_to_rename',
 'params:gitter.columns_to_rename.XLogP',
 'params:matc_gitter_conversion',
 'params:matc_gitter_conversion.hematologic',
 'params:matc_gitter_conversion.cardio',
 'params:matc_gitter_conversion.antiinfective',
 'params:matc_gitter_conversion.cns',
 'params:matc_gitter_conversion.antineoplastic',
 'params:matc_gitter_conversion.reproductivecontrol',
 'params:matc_gitter_conversion.dermatologic',
 'params:matc_gitter_conversion.antiinflammatory',
 'params:matc_gitter_conversion.respiratorysystem',
 'params:matc_gitter_conversion.gastrointestinal',
 'params:matc_gitter_conversion.lipidregulating',
 'params:matc_gitter_conversion.urological',
 'params:model_options',
 'params:model_options.test_size',
 'params:model_options.random_state',
 'params:model_options.target',
 'params:model_options.features']

In [3]:
gitter = catalog.load('processed_gitter')

[07/20/23 18:55:09] INFO     Loading data from 'processed_gitter' (CSVDataSet)...               ]8;id=114047;file://C:\Users\josin\anaconda3\envs\kedro-environment\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=993285;file://C:\Users\josin\anaconda3\envs\kedro-environment\lib\site-packages\kedro\io\data_catalog.py#345\345]8;;\

In [4]:
gitter

,CID,HBondAcceptorCount,HBondDonorCount,IsomericSMILES,MolecularWeight,XLogP,drug_class,desalted_SMILES,RuleFive,MATC_Code_Short
0,24769,2,0,CN(C)CCCCCCN(C)C.C(CBr)CBr,374.205,NaN,hematologic,BrCCCBr.CN(C)CCCCCCN(C)C,1,B
1,134694070,9,6,C1CN=C(N1)NC2=C(C3=NC=CN=C3C=C2)Br.[C@@H](C(C(...,442.226,NaN,cardio,Brc1c(NC2=NCCN2)ccc2nccnc12,0,C
2,5121,2,0,C1CSC2=NC(CN21)C3=CC=C(C=C3)Br,283.187,2.5,antiinfective,Brc1ccc(C2CN3CCSC3=N2)cc1,1,J
3,4660557,1,1,C1C2CC3CC1CC(C2)C3NC4=CC=C(C=C4)Br,306.247,5.0,cns,Brc1ccc(NC2C3CC4CC(C3)CC2C4)cc1,1,N
4,122175,2,2,CC(CCC(C#C)N)N,126.203,-0.4,antineoplastic,C#CC(N)CCC(C)N,1,L
...,...,...,...,...,...,...,...,...,...,...
6930,9231,0,0,C1=CC=C2C=CC=C2C=C1,128.174,3.2,antiinflammatory,c1ccc2cccc-2cc1,1,I
6931,3038520,6,1,C1CN(CCN1CC2=CC3=C(C=C2)OCO3)C4=NC=CC=N4.Cl,334.804,NaN,cns,c1cnc(N2CCN(Cc3ccc4c(c3)OCO4)CC2)nc1,1,N
6932,88747,4,1,C1CN(CCN1)C2=NC=CC=N2,164.212,0.0,cns,c1cnc(N2CCNCC2)nc1,1,N
6933,16640802,2,1,C1CCC(CC1)(C2=CC=CS2)N3CCCCC3.Cl,285.874,NaN,cns,c1csc(C2(N3CCCCC3)CCCCC2)c1,1,N
6934,20068539,2,0,C1CCC(CC1)N2CCCCC2C3=CC=CS3,249.416,4.2,cns,c1csc(C2CCCCN2C2CCCCC2)c1,1,N

In [4]:
companies.head()

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t

In [5]:
shuttles.head()

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,f,f,"$1,325.0",35029
1,36260,Anguilla,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,780.0",30292
2,57015,Russian Federation,Type V5,Quantum,ThetaBase Services,1.0,2,moderate,0.0,f,f,"$1,715.0",19032
3,14035,Barbados,Type V5,Plasma,ThetaBase Services,3.0,6,strict,3.0,f,f,"$4,770.0",8238
4,10036,Sao Tome and Principe,Type V2,Plasma,ThetaBase Services,2.0,4,strict,2.0,f,f,"$2,820.0",30342

In [6]:
companies['id'].nunique()

50098

In [7]:
df_reviews = catalog.load('reviews')

[07/18/23 20:11:11] INFO     Loading data from 'reviews' (CSVDataSet)...                        ]8;id=665884;file://C:\Users\josin\anaconda3\envs\kedro-environment\lib\site-packages\kedro\io\data_catalog.py\data_catalog.py]8;;\:]8;id=336045;file://C:\Users\josin\anaconda3\envs\kedro-environment\lib\site-packages\kedro\io\data_catalog.py#345\345]8;;\

In [8]:
df_reviews.head()

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,63561,97.0,10.0,9.0,10.0,10.0,9.0,10.0,133,1.65
1,36260,90.0,8.0,9.0,10.0,9.0,9.0,9.0,3,0.09
2,57015,95.0,9.0,10.0,9.0,10.0,9.0,9.0,14,0.14
3,14035,93.0,10.0,9.0,9.0,9.0,10.0,9.0,39,0.42
4,10036,98.0,10.0,10.0,10.0,10.0,9.0,9.0,92,0.94

In [1]:
import pandas as pd

In [4]:
gitter = pd.read_csv('processed_gitter.csv')

In [15]:
pubchem = pd.read_csv('processed_pubchem.csv')

In [16]:
gitter.head(3)

,CID,HBondAcceptorCount,HBondDonorCount,IsomericSMILES,MolecularWeight,LogP,RuleFive,MATC_Code_Short,MATC_Code_Explanation
0,24769,2,0,CN(C)CCCCCCN(C)C.C(CBr)CBr,374.205,NaN,1,B,BLOOD AND BLOOD FORMING ORGANS
1,134694070,9,6,C1CN=C(N1)NC2=C(C3=NC=CN=C3C=C2)Br.[C@@H](C(C(...,442.226,NaN,0,C,CARDIOVASCULAR SYSTEM
2,5121,2,0,C1CSC2=NC(CN21)C3=CC=C(C=C3)Br,283.187,2.5,1,J,ANTIINFECTIVES FOR SYSTEMIC USE

In [17]:
pubchem.head(3)

,CID,HBondAcceptorCount,HBondDonorCount,MolecularWeight,LogP,IsomericSMILES,RuleFive,MATC_Code_Short,MATC_Code_Explanation
0,1,4,0,203.24,0.4,CC(=O)OC(CC(=O)[O-])C[N+](C)(C)C,1,N,NERVOUS SYSTEM
1,119,3,2,103.12,-3.2,C(CC(=O)O)CN,1,N,NERVOUS SYSTEM
2,137,4,2,131.13,-3.8,C(CC(=O)O)C(=O)CN,1,L,ANTINEOPLASTIC AND IMMUNOMODULATING AGENTS